<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hulzenga.symptomatic" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.hulzenga.symptomatic.client.patient.activity.TestActivity"
            android:label="@string/title_activity_test" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hulzenga.symptomatic.client.patient.activity.CheckInActivity"
            android:label="@string/title_activity_check_in" >
        </activity>
        <activity
            android:name="com.hulzenga.symptomatic.client.patient.activity.ScheduleCheckInsActivity"
            android:label="@string/title_activity_schedule_check_ins" >
        </activity>
        <activity
            android:name="com.hulzenga.symptomatic.client.patient.activity.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
    </application>

</manifest>
